.PageContainer-root {
  position: fixed;
  top: 5vh;
  bottom: 10vh;
  left: 20%;
  transition: left ease 2s;

  width: 70vw;

  overflow-x: hidden;
  overflow-y: hidden;

  font-size: 40px;
  background-color: transparent;
}
