#PageContainer-root {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  left: 20%;
  transition: left ease 2s;

  height: 80vh;
  width: 60%;

  overflow-x: none;
  overflow-y: none;

  font-size: 40px;
  background-color: #d4e4f5;
}
