.Polaroid-root {
  margin: 0;
  padding-top: 3vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 3vh;

  height: fit-content;
  width: fit-content;

  /* max-height: 70vh;
  max-width: 35vw; */

  position: relative;
  z-index: 20;
  /* transform: rotate(5deg); */

  /* background-color: #ffffff; */
}

.Polaroid-container {
  padding-top: 1.5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 1.5vh;

  height: fit-content;
  width: fit-content;

  background-color: #ffffff;

  overflow: hidden;
}
.Polaroid-container:hover {
  cursor: cell;
  /* url(myBall.cur),auto */

  opacity: 80%;
}

.Polaroid-img {
  max-height: 60vh;
  max-width: 50vw;

  overflow: hidden;
}

.Polaroid-txt {
  padding-bottom: 0.5vh;

  height: fit-content;
  max-width: 40vw;

  text-align: center;
  font-size: 5vh;
  font-family: "Permanent Marker", cursive;
}
