#Footer-root {
  position: fixed;

  bottom: 0px;

  width: 100vw;
  height: 10vh;

  background-color: white;
}

#Footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Footer-elements {
  flex: 1;
  flex-grow: 1;
  text-align: center;
  height: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
