#App-Root {
  background-color: #303030;

  margin: 0px;
  padding: 0px;

  width: 100vw;
  height: 100vh;

  overflow: none;

  cursor: url("./assets/images/pointergif/1.png"), auto;
}

@keyframes animate {
  0% {
    cursor: url("./assets/images/pointergif/2.png"), auto;
  }
  50% {
    cursor: url("./assets/images/pointergif/1.png"), auto;
  }
  100% {
    cursor: url("./assets/images/pointergif/2.png"), auto;
  }
}
