.StickyNote-root {
  margin: 0;
  padding-top: 2.5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2.5vh;

  height: fit-content;
  width: fit-content;

  /* transform: rotate(5deg); */

  overflow: hidden;

  font-size: 2.7vh;
}
.StickyNote-root:hover {
  cursor: cell;
  /* url(myBall.cur),auto */
}

.StickyNote-txt {
  margin: 0;
  padding-top: 1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1.5vh;

  height: 17vh;
  width: 15vw;

  min-width: 125px;

  background-color: RGBA(255, 235, 59, 1);
}

.StickyNote-top {
  margin: 0;

  padding-left: 1vw;
  padding-right: 1vw;

  height: 4vh;
  width: 15vw;

  min-width: 125px;

  background-color: RGBA(235, 215, 39, 1);
}
