/* sidebar width: 10% */
#Page-root {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-right: 2vw;
  margin-left: 2vw;

  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-right: 2vw;
  padding-left: 2vw;

  /* padding: 0px; */

  height: 70vh;
  width: auto;

  background-color: #c0c0c0;
  transition: background-color 1s;

  overflow-y: auto;
  overflow-x: none;
}

#Page-root:hover {
  cursor: cell;

  background-color: #868686;
}

#Page-title {
  position: fixed;
  top: 2vh;
  font-size: 8vh;
  /* left: 40vw;
  right: 40vw; */
  transition: top ease 2s;
}
