/* sidebar width: 10% */
#Page-root {
  margin: 0;

  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3vw;
  padding-left: 3vw;

  /* padding: 0px; */

  height: 100vh;
  width: auto;

  background-color: transparent;

  overflow-y: visible;
  overflow-x: visible;
}

#Page-root:hover {
  cursor: crosshair;
  /* url(myBall.cur),auto */
}

#Page-title {
  position: fixed;
  top: 2vh;
  font-size: 8vh;
  /* left: 40vw;
  right: 40vw; */
  transition: top ease 2s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
